// Base CSS
html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: #aaa;
}

%center-box {
  $padding: 20px;

  height: calc(100% - ($padding * 2));
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: $padding;
}